body {
  font-family: sans-serif;
}

button {
  background-color: pink;
  color: red;
  padding: 0px 10px;
  border: outset green 10px;
}

button:hover {
  background-color: blue;
  color: white;
  padding: 0px 10px;
  border: inset green 10px;
}
